@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-container {
  display: flex;
  align-items: center;
}

.paginate-buttons {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #015289;
  background-color: #fff;
  border: 1px solid #015289;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.paginate-buttons:hover {
  color: #fff;
  background-color: #015289;
  border-color: #015289;
}

.active-page{
  color: #fff;
  background-color: #015289;
  border-color: #015289;
}

.modal-vue3-content {
  height: 100% !important;
  max-height: 500px !important;
  width: 100% !important;
  max-width: 600px !important;
  
  border-radius: 16px !important;

  overflow: scroll;
  position: relative;
  overflow-x: hidden !important;
}

.modal-vue3-body {
  background-color: #fff !important;
  /* background-color: salmon; */
  overflow: hidden !important;
  padding: 0px 0px !important;
  max-height: 600px !important;
  border-radius: 16px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px; 

}

.modal-vue3-header,
.modal-vue3-footer {
  display: none !important;
}

.v3ti-content {
  padding: 0 8px !important;
}

.v3ti {
  border-color: rgb(203 213 225) !important;
  border-radius: 8px !important;
  
}

.v3ti--focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(14 165 233 / var(--tw-border-opacity)) !important;
  --tw-ring-opacity: 1 !important;
  --tw-ring-color: rgb(14 165 233 / var(--tw-ring-opacity)) !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

.v3ti-tag {
  background-color: #e4e4e4 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 0px 12px !important;
  color: black !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  /* span gabisa pake padding vertikal T_T */
}

.v3ti-new-tag::placeholder {
  font-size: 14px;
}

.v3ti-remove-tag::before {
  color: black !important;
  width: 18px !important;
  height: 18px !important;
}

.modal-box-inner {
  height: 330px;
    /* --tw-scale-x: 0.99;
    --tw-scale-y: 0.99; */
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-y: auto;
  overflow-x: hidden;
  /* overscroll-behavior-y: contain; */
}

/* apply effect until 639px width */
@media screen and (max-width:640px) {
  .clean-margin {
    margin-left: 0px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background: #015289; 
  border-radius: 10px;
}

::selection {
  background-color: royalblue;
  color: black;
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: white;
  border: 1px solid black;
}

input[type=radio]:checked {
  background: #1f7793;
}

.content {
  flex: 1 1 auto !important;
}

/* dibaca berdasarkan urutan nomor baris oleh git nya */
.dp__input_focus {
  border-color: rgb(14, 165, 233) !important;
  border-width: 2px !important;
}

.table thead th:first-child {
  position: static;
  left: 0;
  z-index: 2;
}

.table tbody td:first-child {
  position: static;
  left: 0;
  z-index: 2;
}